#mainCalcDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  min-width: 250px;
  border: 1px solid black;
}

.childContainerDiv {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.childCalcDiv {
  display: flex;
  flex-grow: 1;
}

button {
  height: 20px;
  flex-grow: 1;
  font-size: 9px;
  color: black;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid black;
}

.buttonsNumber {
  background: lightgray;
  border-radius: 3px;
}

#buttonClear {
  background: beige;
}

#buttonEquals {
  background: beige;
}

#buttonPlus {
  background: beige;
}

#buttonMinus {
  background: beige;
}

#buttonMultiply {
  background: beige;
}

#buttonDivide {
  background: beige;
}

p {
  display: flex;
  flex-grow: 1;
  font-size: 10px;
  padding-left: 3px;
  height: 16px;
  border: 1px solid blue;
}
